body {
  background-color: rgb(101, 73, 128);
  color: wheat;
}
input {
  font-size: large;
  width: 250px;
  height: 30px;
  display: block;
  margin: 30px auto;
  border-radius: 4px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-bottom: 50px;
}
.gallery-list {
  margin: 15px;
  list-style: none;
  width: 400px;
  cursor: pointer;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.photo-card {
  background-color: black;
  border: 5px solid rgb(33, 5, 59);
  border-radius: 8px;
}
.btn {
  width: 150px;
  font-size: large;
  color: wheat;
  background-color: blue;
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 10px;
  left: 45%;
}
.is-hidden {
  display: none;
}
.material-icons {
  margin-right: 5px;
}
